:root {
  --primary-black-color: #111111;
  --primary-white-color: #fafafa;
  --primary-accent-color: ;
  --secondary-accent-color: ;
  --active-color: ;
  --secondary-white-color: ;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.link:active {
  color: var(--active-color);
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 318px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
